
/**************************************************************/
/*********************  M  O  B  I  L  E  *********************/
/**************************************************************/

/************************** B A N N E R *************************/
.banner-container{
  position: relative;
  background-image: url(../../images/home/parking_mobile.jpg);
  background-size: 100%;
  background-attachment: fixed;
  top: 45px;
  width: 100%;
  height: 445px;
  /* border: solid 1px blue; */
}

.shape{
  position: absolute;
  margin-top: 10%;
  margin-left: 4%;
  background-color: rgba(70, 72, 78, 0.85);
  text-align: center;
  width: 90%;
  padding: 10px 5px 0px;
}

.shape h2{
  font-size: 1.8em;
  color: white;
  margin-bottom: 5px;
}

.shape h3{
  font-size: 1em;
  color: white;
  margin-bottom: 15px;
}

.shape input[type=submit]{
  margin-bottom: 0px;
}

.shape .form-generico{
  margin-bottom: 0;
}

  /****************** S E A R C H   B A R *******************/
.banner-container .shape button{
  background-color: #4B6EA9;
  width: 80%;
  margin-top: 10px;
}

/********* C O M O   F U N C I O N A ******************/

.como-funciona{
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  width: 90%;
  margin: 85px auto 45px;
  padding: 15px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-buscas{
  padding: 0 30px;
}

.como-funciona h2{
  padding-top: 45px;
  text-align: center;
  font-size: 2.3em;
  color: rgb(105, 105, 105);
}

.buscas, .alquilas, .estacionas{
  text-align: center;
  font-size: 1.9em;
  font-weight: bold;
  color: rgb(105, 105, 105);
}

.como-funciona .pasos{
  display: block;
  width: 100%;
  margin: 10px 0 50px;
}

.como-funciona .paso-img{
  display: block;
  margin: auto;
  width: 35%;
  margin: 20px auto;
}


.como-funciona p{
  margin: 15px 35px 60px;
  text-align: center;
  font-size: 1.3em;
}


/****************** SER ANFITRION *******************/
.ser-anfitrion-home{
  background-image: url(../../images/home/garage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  overflow: visible;
}

.ser-conductor{
  background-image: url(../../images/coming-soon/coming-soon-pc.jpg);
}

.ser-anfitrion-home .sombra{
  background-color: rgba(64, 162, 201, 0.74);
  overflow: hidden;
  text-align: center;
}
.ser-anfitrion-home .celular{
  width: 200px;
}

.ser-anfitrion-home h2{
  color: #fff;
  padding: 15px 15px;
}

.ser-anfitrion-home p{
  padding: 15px 20px;
  margin: 15px 0;
  text-align: center;
}

.anfitrion-pasos{
  position: relative;
  display: block;
  padding-bottom: 25px;
}

.anfitrion-pasos .icono{
  position: absolute;
  top: 0;
  left: 15px;
  width: 30px;
}

.anfitrion-pasos p{
  padding: 0 10px 0 55px;
  margin: 0;
  text-align: left;
}

.ser-anfitrion-home a, .ser-conductor-home a{
  padding: 10px 15px;
}

/****************** COMUNIDAD *******************/
.comunidad-home h2{
  font-size: 1.6em;
  padding: 5px 10px;
}
.comunidad-home p{
  font-size: 1.1em;
}

/****************** SLIDER HOME *******************/

.como-funciona .owl-carousel .item-contenedor{
  width: 80%;
  margin: 40px 10% 10px;
  background-color: #fff;
  float: left;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.como-funciona .owl-carousel .item-contenedor .ultimo-espacio-img{
  width: 85%;
  height: 180px;
  margin: -25px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: cover;
}

.como-funciona .owl-carousel .item-contenedor h3{
  font-size: 1.3em;
  text-align: left;
  padding: 15px 0 0 30px;
  font-weight: bold;
}

.como-funciona .owl-carousel .item-contenedor h4{
  font-size: 1.1em;
  text-align: left;
  padding-left: 30px;
  margin: 2px 0px;
}

.como-funciona .owl-carousel .item-contenedor .stars{
  width: 100px;
  margin: 0px 0px 0px 25px;
}


/**************************************************************/
/*********************  T  A  B  L  E  T  *********************/
/**************************************************************/

@media (min-width: 700px){
  /****************** B A N N E R *******************/

  .banner-container{
    height: 550px;
  }

  .shape{
    margin-top: 10%;
  }

  .shape h2{
    font-size: 2.5em;
  }

  .shape h3{
    font-size: 1.3em;
    margin-bottom: 35px;
  }

  .shape input[type=search]{
    width: 80%;
  }

  .shape input[type=submit]{
    width: 80%;
  }

  /********* C O M O   F U N C I O N A ******************/

  .como-funciona{
    margin-top: 10%;
  }

  .como-funciona h2{
    font-size: 2.7em;
  }

  .como-funciona .pasos{
    width: 50%;
    margin: 1% 0 5%;
  }

  .como-funciona .paso-img{
    width: 50%;
  }


  #pasos-1, #pasos-2{
    float: left;
  }

  #pasos-3{
    margin: auto;
    clear: both;
  }


/****************** ser anfitrion *******************/
  .anfitrion-pasos{
    margin-left: 45px;
  }

  .anfitrion-pasos p{
    padding-left: 70px;
    padding-right: 25px;
  }

  /****************** SLIDER HOME *******************/

  .como-funciona .owl-carousel .item-contenedor{
    width: 85%;
    margin: 30px 25px;
  }

  .como-funciona .owl-carousel .item-contenedor .ultimo-espacio-img{
    width: 85%;
    height: 200px;
  }

}

/*************************************************************************************************/
/***********************************  D  E  S  K  T  O  P **************************************  ************************************************************************************************/
/**********************************************************************************************/

@media (min-width: 960px){
  /****************** B A N N E R *******************/

  .banner-container{
    background-image: url(../../images/home/parking_pc.jpg);
    height: 620px;
    text-align: center;
  }

  .shape{
    margin-top: 8%;
    padding-bottom: 20px;
    width: 80%;
    margin-left: 10%;
  }

  .shape h2{
    font-size: 3em;
  }

  .shape h3{
    font-size: 1.3em;
    margin-bottom: 35px;
  }

  /*.shape input[type=search]{
    width: 60%;
  }

  .shape input[type=submit]{
    width: 60%;
    margin-bottom: 25px;
  }*/

  /****************** S E A R C H   B A R *******************/

  .search-espacios-form{
    width: 60%;
    margin: auto;
  }

  #dir_y_vehiculo {
    margin: 0 0 5px 4px;
    width: 98.7%;
    height: 60px;
  }

  .search-espacios-form input[name='search-espacios-input-direccion']{
    width: 68.5%;
    height: 60px;
  }

  .search-espacios-form select[name='search-espacios-vehiculo']{
    width: 31%;
    height: 60px;
  }

  .search-espacios-form input[name='BUSCAR']{
    margin: 5px 0px 15px;
    width: 99%;
    height: 60px;
  }

  /**************** C O M O  F U N C I O N A ****************/
  .como-funciona{
    margin-top: 5%;
  }

  .sub-buscas{
    font-size: 1.2em;
    padding: 0 120px;
  }

  .como-funciona .pasos{
    width: 33.33%;
    margin: 2% 0;
    float: left;
    margin-bottom: 50px;
  }

  .pasos img{
    width: 40%;
  }

  .ultimo-paso{
    width: 33.33%;
    margin: 5% 0;
    right: 0;
  }

  .ultimo-paso img{
    width: 40%;
  }

  #pasos-3{
    clear: none;
    margin-top: 25px;
  }

  .main-footer{
    clear: both;
  }

  /****************** SER ANFITRION *******************/
  .ser-anfitrion-home, .ser-conductor-home{
    position: relative;
  }

  .ser-anfitrion-home .celular, .ser-conductor-home .celular{
    position: absolute;
    top: -55px;
    left: 45px;
    width: 250px;
  }

  .ser-anfitrion-home h2{
    padding: 15px 15px 0 330px;
    text-align: left;
  }

  .ser-anfitrion-home p{
    padding: 15px 15px 10px 330px;
    text-align: left;
  }

  .anfitrion-pasos{
    padding-bottom: 35px;
    padding-left: 300px;
  }

  .anfitrion-pasos .icono{
    left: 290px;
  }

  .anfitrion-pasos p{
    padding: 0 10px 0 45px;
  }

  .ser-anfitrion-home .anfitrion-btn{
    padding: 8px 12px;
    background-color: #2EA03E;
    margin: 0  10px 0 0;
    border-radius: 4px;
    color: #fff;
  }

  /****************** COMUNIDAD *******************/
  .comunidad-home h2{
    font-size: 2em;
    padding-top: 40px;
  }
  .comunidad-home p{
    font-size: 1.2em;
    padding: 0 20px;
  }

  .embed-responsive{
    margin-bottom: 70px;
  }

    /****************** SER CONDUCTOR *******************/
  .ser-conductor-home{
    background-image: url(../../images/coming-soon/coming-soon-pc.jpg);
  }

  /****************** SLIDER HOME *******************/

  .como-funciona .owl-carousel .item-contenedor{
    width: 90%;
    margin: 30px 15px;
    padding-top: 20px;
  }

  .como-funciona .owl-carousel .item-contenedor .ultimo-espacio-img{
    width: 80%;
    height: 160px;
  }


}
