/**************************************************************/
/*********************  M  O  B  I  L  E  *********************/
/**************************************************************/

/***************** NAV BAR - P R O F I L E ********************/
#toggle-profile {
  display: block;
  float: left;
  width: 28px;
  height: 30px;
  margin: 10px;
  padding-top: 11px;
  /* border: solid 1px red; */
}

#toggle-profile:hover{
  cursor: pointer;
}

#toggle-profile span:after, #toggle-profile span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

#toggle-profile span:after{
  top: 9px;
}

#toggle-profile span {
  position: relative;
  display: block;
}

#toggle-profile span, #toggle-profile span:after, #toggle-profile span:before {
  width: 100%;
  height: 5px;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

#toggle-profile.on span {
  background-color: transparent;
}

#toggle-profile.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle-profile.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

.profile-nav-container .navbar{
  padding-top: 58px;
  background-color: rgb(74, 93, 108);
}

.profile-nav-container .navbar .navbar-nav{
  display: none;
}

.profile-nav-container .navbar .navbar-nav li{
  display: block;
  text-align: left;
  font-family: FontAwesome;
  border-top: solid 1px white;
}

.profile-nav-container .navbar .navbar-nav li:hover{
  background-color: #fff;
}

.profile-nav-container .navbar .navbar-nav label{
  padding-left: 5px;
  color: #fff;
  font-size: 1em;
}

.profile-nav-container .navbar .navbar-nav a:hover{
  background-color: inherit;
}

.profile-nav-container .navbar .navbar-nav li:hover label{
  color: rgb(74, 93, 108);
}
.profile-nav-container .navbar .navbar-nav li:hover #perfil-nav-1:before, .profile-nav-container .navbar .navbar-nav li:hover #perfil-nav-2:before, .profile-nav-container .navbar .navbar-nav li:hover #perfil-nav-3:before, .profile-nav-container .navbar .navbar-nav li:hover #perfil-nav-4:before{
  color: rgb(74, 93, 108);
}

.profile-nav-container .navbar-nav #perfil-nav-1:before {
  content: '\f007';
  color: #fff;
}

.profile-nav-container .navbar-nav #perfil-nav-2:before {
  content: '\f015';
  color: #fff;
}

.profile-nav-container .navbar-nav #perfil-nav-3:before {
  content: '\f1b9';
  color: #fff;
}

.profile-nav-container .navbar-nav #perfil-nav-4:before {
  content: '\f022';
  color: #fff;
}

.profile-nav-container .navbar-nav #perfil-nav-5:before {
  content: '\f201';
  color: #fff;
}

.profile-welcome-tablet{
  display: none;
}

.profile-nav-container .profile-welcome-mobile{
  display: block;
  margin-left: 80px;
  padding: 0;
  color: #fff;
}

.profile-nav-container .profile-welcome-mobile h3{
  font-size: 1em;
  margin: 15px 0;
}

.profile-container .nav-tabs{
  font-family: 'Roboto Condensed', sans-serif;
}
.nav-tabs li{
  font-size: 0.8em;
  background-color: #F5F5F5;;
  border-bottom: solid 1px #fff;
}

.nav-tabs i{
  font-size: 1.8em;
  color: #48A8C1;
}

.nav-tabs label{
  display: none;
}

.tab-content{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fff;
  border: solid 1px #9eabb147;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border: none;
}

.nav-tabs>li>a{
  border-radius: none;
  margin: 0;
}

/* ****************perfil- P R O F I L E ***************/
.profile-container form{
  padding-top: 30px;
}
.profile-container form .row{
  margin-right: 0;
}

.profile-container form p{
  display: inline-block;
}
.profile-container form p label span{
  font-size: 16px !important;
}

.profile-container form p:nth-child(2){
  margin-left: 15px;
}

.form-horizontal .form-group{
  margin: 0;
}

/* *******imagen- P R O F I L E *****/
.imagen-load-container {
  display: inline-block;
}

.imagen-load-container .img-profile img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 5px;
  margin: 10px;
  border-radius: 5%;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

.load-img-profile .file-field .btn{
  padding: 1px 20px;
  background-color: #085174;
}

.load-img-profile{
  margin-left: 28px;
}

.load-img-profile .file-path-wrapper{
  width: 100px;
}

.load-img-profile form{
  padding-top: 0;
}

.tooltipped img{
  width: 20px;
  margin-left: 10px
}
.backdrop{
  background-color: #00bfa5;
}

.material-tooltip{
  width: 300px;
  font-size: 14px;

}

.profile-derecha{
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}

/* ************datos- P R O F I L E *************/
.datos h3{
  display: inline-block;
  padding-top: 20px;
  font-size: 20px;
  margin: 10px 20px 0 20px;
}

.datos .datos-titulo{
  padding: 10px 20px;
}

.datos .datos-caja{
  border: dotted 1px rgb(86, 85, 153);
  margin: 10px 20px 20px;
}

.datos .fa-check-circle-o{
  color: green;
  font-size: 1.5em;
}

.datos .fa-exclamation-circle{
  color: red;
  font-size: 1.5em;
}

.datos p{
  margin: 10px 20px 0 20px;
  padding-bottom: 20px;
}

.datos .last{
  padding-bottom: 50px;
}

/************ credits P R O F I L E *********/
.perfil-caja-titulo{
  display: block;
  padding: 2px 10px;
  background-color: #549AB5;
  color: #fff;
}

.creditos h4, .creditos p{
  padding: 10px;
}

.creditos .btn-warning{
  border:  solid 1px #f89406;
  margin: 10px;
}

.creditos .btn-warning a{
  color: #fff;
}

.creditos .btn-warning:hover {
  background-color: #fff;
}

.creditos .btn-warning:hover a{
  color: #f89406;
}

.credits-form h4{
  padding: 0 20px;
}

/************ evaluaciones P R O F I L E *********/
.evaluaciones .evaluacion-titulo{
  padding: 10px;
}

.evaluaciones .evaluacion-caja{
  border: dotted 1px rgb(86, 85, 153);
  margin: 25px 10px 20px 10px;
  padding: 10px;
}

.evaluaciones .usuario-caja label{
  cursor: pointer;
}
/**************************************************************/
/*********************  T  A  B  L  E  T  *********************/
/**************************************************************/

@media (min-width: 700px){
  /***************** NAV BAR - P R O F I L E ********************/
  #toggle-profile {
    display: none;
  }
  .profile-nav-container {
    /* height: 80px; */
    overflow: hidden;
  }

  .profile-nav-container .navbar .navbar-nav{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;

  }

  .profile-nav-container .navbar .navbar-nav li{
    display: inline-block;
    padding: 2px;
    font-size: .8em;
    border-right: solid 1px white;
    border-top: none;
  }

  .profile-nav-container .navbar .navbar-nav .first{
    border-left: solid 1px #fff;
    margin-left: 20px;
  }

  .profile-nav-container .navbar .navbar-nav a{
    padding: 5px;
  }

  .profile-nav-container .navbar .navbar-nav label{
    padding: 0 5px;
    margin: 0;
  }

  .profile-nav-container .profile-welcome-mobile{
    display: none;
  }

  .profile-welcome-tablet{
    display: block;
    padding: 2px 10px;
    background-color: #549AB5;
    color: #fff;
  }
  /* ****************perfil- P R O F I L E ***************/
  .profile-container{
    overflow: hidden;
    margin-top: 40px;
  }
  .nav-tabs{
    width: 20%;
    float: left;
  }
  .nav-tabs li{
    width: 100%;
    display: block;
    font-size: .8em;
  }

  .nav-tabs i{
    font-size: 1.6em;
    display: block;
    text-align: center;
  }

  .nav-tabs label{
    display: inline-block;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    color: #000;
    font-weight: lighter;
  }

  .nav-tabs button{
    width: 100%;
  }

  .tab-content{
    float: left;
    width: 80%;
  }

  .profile-container .form-group button{
    margin-left: 20px;
  }

  .profile-container .form-group .profile-mes{
    margin-left: 0;
  }

  .profile-container .tab-content .form-group button{
    margin-bottom: 20px;
  }

  .profile-container .form-group .phonenumb{
    padding-left: 0;
    padding-top: 0;
  }



/*************************************************************************************************/
/***********************************  D  E  S  K  T  O  P **************************************  ************************************************************************************************/
/**********************************************************************************************/

@media (min-width: 960px){
  /***************** NAV BAR - P R O F I L E ********************/
  .profile-nav-container .navbar{
    padding-top: 58px;
  }
  .profile-nav-container .navbar .navbar-nav li{
    font-size: 1em;
  }

  .profile-nav-container .navbar .navbar-nav .first{
    margin-left: 9%;
  }

  .profile-nav-container .navbar .navbar-nav label:hover{
    cursor: pointer;
  }

  /***************** P R O F I L E ********************/
  .profile-container, .profile-espacio-container, .profile-alquiler-container, .profile-vehiculo-container .table-responsive{
    overflow: hidden;
    width: 80%;
    margin: 40px auto 0;
  }

}
