/****************** S I G N  U P *******************/

.bodies-main-content .gral-main{
  max-width: 600px;
  margin: auto;
}
.bodies-main-content .gral-main h1{
  background-color: #085174;
  margin-top: 20px;
  margin-left: 0;
  margin-bottom: 0;
  padding: 20px 40px;
  color: #fff;
}
.signup form div{
  padding: 0 40px;
}

.input-field>label{
  font-size: 0.6em;
}

.signup form .boton{
  text-align: center;
}
.bodies-main-content .gral-main button:hover{
  color: #fff;
  /* background-color: #fff;
  border: solid 1px #C2185B; */
}

.signup p{
  font-size: 0.8em;
  font-weight: bold;
  color: #8f8f8f;
  text-align: center;
  padding: 0 20px;
}

.signup a{
  display: block;
  text-align: center;
  margin-top: 25px;
  color: #48A8C1;
}

.signup-redes{
  padding: 0 60px 40px;
}

#signupLoader{
  display: none;
  text-align: center;
}

/****************** RECUPERO CONTRASEÑA *******************/
.recuperar-password p{
  font-family: 'Roboto Condensed', sans-serif;
}
.recuperar-password a{
  color: #48A8C1;
}

@media(min-width: 700px){
  .signup form div{
    padding: 0 20px;
  }
}
