/**************************************************************/
/*********************  M  O  B  I  L  E  *********************/
/**************************************************************/


/****************** S I G N  I N *******************/
/* .form-generico{
  margin: 15px 0%;
  text-align: center;
}

.signin .form-generico{
  margin: 0;
}

.form-generico input, .form-generico label, .form-generico select, .form-generico textarea{
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  font-size: 1em;
  border: solid 1px #9c9c9c;
  border-radius: 2px;
  background-color: #fff;
  vertical-align: middle;
}

.form-generico textarea{
  height: 80px;
}

.form-generico input[type=checkbox], .form-generico label{
  display: inline-block;
  width: auto;
  text-align: left;
}

.form-generico label{
  border: none;
  background-color: transparent;
  font-family: 'Roboto Condensed', sans-serif;
}

.form-generico input:focus, .form-generico select:focus{
  border: solid 1px #48A8C1;
}

.form-generico input[type=submit]{
  margin: 15px auto;
  font-weight: bold;
  color: #FFF;
  border: solid 1px #48A8C1;
  background-color: #48A8C1;
}

.form-generico input[type=submit]:hover{
  background-color: inherit;
  border-color: #48A8C1;
  color: #48A8C1;
  cursor: pointer;
  transition: background-color .5s;
}*/

.signin a{
  display: block;
  text-align: center;
  margin: 5px auto;
  color: #48A8C1;
  font-family: 'Roboto Condensed', sans-serif;
}

.login-separador{
  margin: 25px auto 35px;
  width: 80%;
  height: 10px;
  border-bottom: 1px solid #9c9c9c;
  text-align: center;
}

.login-separador span{
  font-size: 20px;
  background-color: #fff;
  color: #8f8f8f;
  padding: 0 10px;
}

.facebook-login-button, .google-login-button{
  width: 100%;
  padding: 10px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #fff !important;
  font-weight: bold !important;
}

.facebook-login-button{
  background-color: #4B6EA9;
}

.google-login-button{
  background-color: #D74D41;
}
.bodies-main-content .gral-main .signin .row{
  padding: 0 50px;
}

.signin form .recordarme{
  margin: 0;
}

.signin form .boton{
  text-align: center;
  margin-top: 50px;
}

#loaders{
  text-align: center;
  margin-top: 40px;
  display: none;
}

/**************************************************************/
/*********************  T  A  B  L  E  T  *********************/
/**************************************************************/

@media (min-width: 700px){
  /****************** S I G N   I N  /  S I G N   U P *******************/

  .signin, .signup, .recuperar-password{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding: 20px;
  }



  .bodies-main-content .gral-main .signin .row{
    padding: 0 30px;
  }
}
