/************************************  M  O  B  I  L  E  **************************************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 1em;
  font-family: 'Cabin', sans-serif; /* probar con Helvetica */
  min-width: 360px; /* por qué min width??? */
}

ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}



/****************** HEADER*******************/
h1{
  color: #48A8C1;
  display: inline-block;
  padding: 20px 15px;
  font-family: 'Archivo Black', sans-serif;
}

.toggle-nav{
  width: 45px;
  margin: 12px -6px;
  position: absolute;
  top: 0;
  right: 15px;
  vertical-align: middle;
}

.main-nav{
  margin-top: 0;
  display: none;
}

.main-nav a{
  display: block;
  background-color: #48A8C1;
  color: white;
  text-align: center;
  padding: 15px 0;
  border-bottom: solid 2px white;
  font-size: 0.8em;
}

.main-nav a:hover{
  background-color: rgba(72, 168, 193, 0.7);
}

.modal-wrapper{
  display: none;
}

ul li .popup-link{
  display: none;
}

/****************** b a n n e r *******************/
.banner-container{
  position: relative;
  background-image: url(../images/bg-home2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

.shape{
  position: absolute;
  margin-top: 10%;
  background-color: rgba(70, 72, 78, 0.49);
  text-align: center;
  width: 100%;
  padding: 10px 5px 0px;
}

.shape h2{
  font-size: 1.8em;
  color: white;
  margin-bottom: 5px;
}

.shape h3{
  font-size: 1em;
  color: white;
  margin-bottom: 15px;
}

.shape input[type=submit]{
  margin-bottom: 0px;
}

.shape .form-generico{
  margin-bottom: 0;
}

/********* C O M O   F U N C I O N A ******************/

.como-funciona{
  position: relative;
  margin-top: 10%;
}

.como-funciona h2{
  text-align: center;
  font-size: 2em;
  color: rgb(105, 105, 105);
}

.buscas{
  text-align: center;
  font-size: 1.5em;
  color: #27658A;
}

.alquilas{
  text-align: center;
  font-size: 1.5em;
  color: #DC4844;
}

.estacionas{
  text-align: center;
  font-size: 1.5em;
  color: #FFF16E;
}

.como-funciona .pasos{
  display: block;
  width: 100%;
  margin: 10px 0 50px;
  font-family: 'Roboto Condensed', sans-serif;
}

.como-funciona img{
  display: block;
  margin: auto;
  width: 30%;
  margin: 20px auto;
}

.como-funciona p{
  margin: 15px 35px 60px;
  text-align: center;
}

/****************** F O O T E R*******************/
.main-footer{
  margin-top: 40px;
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgb(105, 105, 105);
}

.main-footer div h4{
  display: none;
}

.main-footer a{
  display: block;
  color: #fff;
  padding: 10px 20px;
  font-size: 0.9em;
  border-bottom: solid 1px #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

.last{
  border-bottom: none !important;
}

/****************** F A Q s *******************/

 .bodies-main-content{
   padding: 0 10px;
 }

 .bodies-main-content h1{
   margin: 20px auto;
   font-size: 1.6em;
   padding: 10px 0;
   color: #8f8f8f;
   font-weight: lighter;
   font-family: 'PT Sans', sans-serif;
   text-align: center;
 }

.faqs-search{
  display: block;
  margin: 0px 7.5% 30px;
  text-align: center;
  border: solid 1px #9c9c9c;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

.faqs-form-search input[type=text]{
  width: 82%;
  padding: 10px;
  font-size: 1.1em;
  border: none;
  float: left;
  vertical-align: middle;
}

.faqs-form-search input[type=submit]{
  width: 5%;
  padding: 15px 22px;
  border: none;
  background-color: #fff;
  background-image: url(../images/search-icon.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
}

.faqs-form-search input[type=submit]:hover{
  cursor: pointer;
}

.faqs-preguntas{
  color: rgb(105, 105, 105);
}

.faqs-preguntas section{
  margin: 30px auto;
}

.faqs-preguntas h2{
  font-size: 1.4em;
  color: #8f8f8f;
  font-weight: bold;
  text-align: left;
}

.pregunta h3{
  text-align: left;
  font-size: 1.2em;
  margin: 20px auto 7px;
  cursor: pointer;
}

.pregunta p{
  font-size: 1em;
  margin: 7px auto 20px;
  display: none;
}

/****************** SIGN IN *******************/

.form-generico{
  margin: 15px 0%;
  text-align: center;
}

.signin .form-generico{
  margin: 0;
}

.form-generico input, .form-generico label, .form-generico select{
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  font-size: 1em;
  border: solid 1px #9c9c9c;
  border-radius: 2px;
  background-color: #fff;
  vertical-align: middle;
}

.form-generico input[type=checkbox], .form-generico label{
  display: inline-block;
  width: auto;
  text-align: left;
}

.form-generico label{
  border: none;
  background-color: transparent;
}

.form-generico input:focus, .form-generico select:focus{
  border: solid 1px #48A8C1;
}

.form-generico input[type=submit]{
  margin: 15px auto;
  font-weight: bold;
  color: #FFF;
  border: solid 1px #48A8C1;
  background-color: #48A8C1;
}

.form-generico input[type=submit]:hover{
  background-color: #8f8f8f;
  border-color: #8f8f8f;
  cursor: pointer;
}

.signin a{
  display: block;
  text-align: center;
  margin: 5px auto;
  color: #48A8C1;
}

.login-separador{
  margin: 25px auto 35px;
  width: 80%;
  height: 10px;
  border-bottom: 1px solid #9c9c9c;
  text-align: center;
}

.login-separador span{
  font-size: 20px;
  background-color: #fff;
  color: #8f8f8f;
  padding: 0 10px;
}

.facebook-login-button, .google-login-button{
  width: 100%;
  padding: 10px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #fff !important;
  font-weight: bold !important;
}

.facebook-login-button{
  background-color: #4B6EA9;
}

.google-login-button{
  background-color: #D74D41;
}

/****************** SIGN UP *******************/

.signup .form-generico{
  margin: 0;
}

.form-firstname, .form-lastname{
  display: inline-block !important;
  width: 49.5% !important;
}

.form-firstname{
  float: left;
}

.form-lastname{
  float: right;
}

.signup p{
  font-size: 0.8em;
  color: #8f8f8f;
}

.signup a{
  display: block;
  text-align: center;
  margin-top: 25px;
  color: #48A8C1;
}

/****************** RECUPERO CONTRASEÑA *******************/
.recuperar-password p{
  font-family: 'Roboto Condensed', sans-serif;
}
.recuperar-password a{
  color: #48A8C1;
}

/*****************UNDER CONSTRUCTION********************/
.construccion{
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
}

.cons-texto{
  margin-top: 25%;
}

h2{
  color: #48A8C1;
  font-size: 2em;
  text-align: center;
}

h3{
  color: grey;
  font-size: 1em;
  text-align: center;
}

.volver-home{
  display: block;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  color: white;
  background-color: #48A8C1;
  font-size: 1em;
  width: 30%;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/************************************  T  A  B  L  E  T  **************************************/

@media (min-width: 700px) {

/****************** HEADER *******************/

.toggle-nav{
  display: none;
}

.main-nav{
  display: block !important;
  margin-bottom: 30px;
}

.main-nav a{
  position: absolute;
  top: 5%;
  width: 15%;
  padding: 5px 15px;
}

.iniciar-btn{
  right: 2%;
}

.register-btn{
  right: 18%;
}

.faq-btn{
  right: 32%;
  color: rgb(105, 105, 105) !important;
  background-color: white !important;
  text-transform: uppercase;
  font-weight: bold;
}

.faq-btn:hover{
  color: #48A8C1 !important;
}

.how-btn{
  display: none !important;
}

/****************** B A N N E R *******************/

.banner-container{
  margin-top: -30px;
  background-image: url(../images/bg-home2.jpg);
  height: 460px;
}

.shape{
  margin-top: 20%;
}

.shape h2{
  font-size: 2.5em;
}

.shape h3{
  font-size: 1.3em;
  margin-bottom: 35px;
}

.shape input[type=search]{
  width: 80%;
}

.shape input[type=submit]{
  width: 80%;
}

/********* C O M O   F U N C I O N A ******************/

.como-funciona{
  margin-top: 10%;
}

.como-funciona h2{
  font-size: 3em;
}

.como-funciona .pasos{
  width: 50%;
  margin: 10% 0 5%;
  float: left;
  /*border: solid 1px red;*/
}

.pasos img{
  width: 50%;
}

.ultimo-paso{
  clear: both;
  margin: 0 auto 10%;
  width: 50%;
  /*border: solid 1px red;*/
}

.ultimo-paso img{
  width: 50%;
}

/****************** F O O T E R *******************/
.main-footer{
  margin-top: 60px;
  text-align: center;
  overflow: hidden;
}

.main-footer div{
  width: 50%;
  margin: 15px 0px;
}

.main-footer-div-left{
  float: left;
}

.main-footer-div-right{
  float: right;
}

.main-footer div h4{
  display: block;
  color: white;
  font-weight: bold;
  margin: 10px auto;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-footer ul{
  display: inline-block;
  width: 80%;
  border-top: solid 1px #fff;
}

.main-footer a{
  color: #fff;
  padding: 10px 20px;
  font-size: 0.9em;
  border-bottom: none;
}

.last{
  border-bottom: none !important;
}

/****************** F A Q s *******************/

  .bodies-main-content{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }

  .faqs-main-content h1{
    margin-left: 2.5%;
  }

  .faqs-preguntas hr{
    width: 95%;
  }

  .faqs-preguntas section{
  margin-left: 5%;
  margin-right: 5%;
  }

  .faqs-preguntas section article{
    margin-left: 5%;
    margin-right: 5%;
  }

  /****************** SIGN IN *******************/

  .signin, .signup, .recuperar-password{
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    background-color: #ededed;
    padding: 20px;
  }

  .login-separador span{
    background-color: #ededed;
  }

  /****************** SIGN UP *******************/



/****************** RECUPERO CONTRASEÑA *******************/



/************************************  D  E  S  K  T  O  P  **************************************/

@media (min-width: 960px) {

  /****************** HEADER*******************/
  h1{
    font-size: 2.5em;
  }
  .main-nav a{
    font-size: 1.2em;
  }

  .iniciar-btn{
    display: none !important;
  }

  .popup-link{
    display: block !important;
    position: absolute;
    top: 5%;
    right: 2%;
    width: 15%;
    padding: 5px 15px;
    background-color: #48A8C1;
    color: white;
    font-size: 1.2em;
    text-align: center;
  }

  .signin-popup a{ /****esto que es ??*/
    display: block;
    text-align: center;
    margin: 5px auto;
    color: #48A8C1;
  }

  .popup-link:hover{
    background-color: rgba(72, 168, 193, 0.7);
  }

  .modal-wrapper{
    display: block;
    position: absolute;
  }

  #popup-iniciar {
     visibility: hidden;
     opacity: 0;
     margin-top: -300px;
  }

  #popup-iniciar:target {
     visibility: visible;
     opacity: 1;
     top: 14.5%;
     right: 0;
     margin: 0;
     z-index: 30;
     transition: all 0.3s;
     /*border: solid 1px green;*/
     width: 60%;
  }

  .popup-contenedor {
     position: relative;
     left: 57%;
     padding: 10px 30px;
     background-color: #ededed;
     color:#333;
     border-radius: 3px;
     width: 40%;
     /*border: solid 1px red;/*/
  }

  .popup-cerrar {
     position: absolute;
     top: 3px;
     right: 3px;
     background-color: #333;
     padding: 7px 10px;
     font-size: 20px;
     text-decoration: none;
     line-height: 1;
     color:#fff;
  }

  .title-signin{
    font-size: 1.2em;
    padding: 0;
  }

    /****************** B A N N E R*******************/

  .banner-container{
    margin-top: -30px;
    background-image: url(../images/bg-home5.jpg);
    height: 450px;
  }

  .shape{
    margin-top: 8%;
  }

  .shape h2{
    font-size: 3em;
  }

  .shape h3{
    font-size: 1.3em;
    margin-bottom: 35px;
  }

  .shape input[type=search]{
    width: 60%;
  }

  .shape input[type=submit]{
    width: 60%;
    margin-bottom: 25px;
  }

  /**************** C O M O  F U N C I O N A ****************/

  .como-funciona{
    margin-top: 5%;
  }

  .como-funciona .pasos{
    width: 33.33%;
    margin: 5% 0;
    float: left;
    margin-bottom: 50px;
  }

  .pasos img{
    width: 40%;
  }

  .ultimo-paso{
    position: absolute;
    width: 33.33%;
    margin: 5% 0;
    right: 0;
  }

  .ultimo-paso img{
    width: 40%;
  }
}

.main-footer{
  clear: both;
}
