/*************************************************************************************************/
/***********************************  D  E  S  K  T  O  P **************************************  ************************************************************************************************/
/**********************************************************************************************/

@media (min-width: 960px){
  /******************* CAROUSEL ****************/
  .glyphicon-chevron-left, .glyphicon-chevron-right{
    color: orange;
  }

  .carousel-indicators li{
    background-color: orange;
    border: solid 1px orange  ;
  }
}
