/**************************************************************/
/*********************  M  O  B  I  L  E  *********************/
/**************************************************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color .5s;
}

body{
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 320px;
  /* background-color: rgba(189, 189, 189, 0.16); */
  background-color: #fff;
}

ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  transition: background .5s;
}

.clear{
  clear: both;
}

nav{
  background-color: inherit;
  line-height: inherit;
  color: inherit;
  transition: none;
  height: inherit;
}
nav ul a{
  font-size: inherit;
}

nav ul li{
  float: none;
}

#loaders{
  text-align: center;
  margin-top: 40px;
  display: none;
}

.signin-popup form .row{
  margin-right: 0;
}
/****************** H E A D E R *******************/
.main-header{
  width: 100%;
  height: 59px;
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  box-shadow: -2px 2px 25px #999;
}

.header-logo-container{
  position: relative;
  float: left;
  max-width: 50%;
  /* height: 45px; */
  /* border: solid 1px pink; */
}

.logo{
  position: absolute;
  width: 200px;
  top: 15px;
  left: 30px;
}

.nav-bar{
  display: none;
}

#toggle {
  /* display: inline-block; */
  float: right;
  width: 30px;
  height: 30px;
  margin: 8px 30px;
  padding-top: 12px;
  /* border: solid 1px blue; */
}

#toggle:hover{
  cursor: pointer;
}

#toggle span:after, #toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

#toggle span:after{
  top: 9px;
}

#toggle span {
  position: relative;
  display: block;
}

#toggle span, #toggle span:after, #toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #085174;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

#toggle.on span {
  background-color: transparent;
}

#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

.nav-bar a{
  display: block;
  background-color: #48A8C1;
  color: white;
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
  border-bottom: solid 2px white;
  font-size: 0.8em;
}

.nav-bar a:hover{
  text-decoration: none;
}

.modal-wrapper{
  display: none;
}

ul li .popup-link{
  display: none;
}

.clear-toggle{
  clear: both;
}


/************************** H E A D E R  P R O F I L E ***********************/
.main-search{
  display: none;
}

.welcome-user{
  display: none;
}

.main-nav .avatar-container{
  position: relative;
  width: 100px;
  margin: 4px 30px;
  float: right;
  /* border: solid 1px blue; */
}

.main-nav .avatar-container i, .main-nav .avatar-container .anfitrion-btn{
  display: none;
}


.main-nav .avatar-container .avatar{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  border: solid 2px #d5dbdc;
  object-fit: cover;
  float: right;
}

.sidenav {
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999999;
  top: 0;
  /* right: -263px; */
  right: 0;
  left: inherit;
  background-color: white;
  overflow-x: hidden;
  transition: 0.3s;
  /* padding-top: 60px; */
  box-shadow: -2px 2px 25px #999;
}

.sidenav .sidenav-img{
  background-image: url(../../images/sidenav-top.png);
  height: 150px;
}
/* .sidenav .sidenav-img img{
  width: 100%;
  height: 150px;
} */

/* .sidenav .closebtn {
position: absolute;
top: 0;
right: 5px;
font-size: 36px;
margin-left: 50px;
border-bottom: none;
margin-right: 0;
} */
.sidenav a {
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
  border-bottom: solid 1px rgba(209, 209, 209, 0.47);
  text-align: left;
  margin-left: 0;
}

.sidenav h4{
  color: #085174;
  padding: 30px 0 0 30px;
}
.sidenav h5{
  padding-left: 30px;
}
.sidenav a:hover {
  color: rgba(73, 169, 193, 0.75);
  border-bottom: solid 1px rgba(181, 181, 181, 0.99);
}

.sidenav .sidenav-listado img{
  width: 20px;
}
.sidenav .closebtn{
  margin-left: 170px;
  border-bottom: none;
}
.sidenav .closebtn:hover{
  border-bottom: none;
  opacity: 0.6;
}


/**************************************************************/
/*********************  T  A  B  L  E  T  *********************/
/**************************************************************/


@media (min-width: 700px) {
  /****************** H E A D E R *******************/
  #toggle{
    display: none;
  }

  .clear-toggle{
    clear: none !important;
  }

  .main-nav .avatar-container{
    margin-right: 35px;
  }

  .logo{
    left: 35px;
  }

  .nav-bar{
    display: block !important;
    /* border: solid 1px yellow; */
    width: 65%;
    overflow: hidden;
    margin: 0 0 0 35%;
    padding: 5px;
  }

  .nav-bar a{
    color: rgb(25, 37, 40);
    float: right;
    padding: 8px 5px;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase !important;
    background-color: inherit;
    border-bottom: 0;
    /* border: solid 1px green; */
  }

  .iniciar-btn{
    margin-right: -5px;
  }

  .anfitrion-btn{
    color: #fff !important;
    /* background: linear-gradient(#89C843, #2EA03E); */
    background-color: #2EA03E !important;
    margin: 0  10px 0 0;
    border-radius: 4px;
  }

  .how-btn{
    display: none !important;
  }

  /************************** H E A D E R  P R O F I L E***********************/

  .main-form-search input[type=text]{
    width: 85%;
    padding: 10px;
    font-size: 0.9em;
    border: none;
    float: left;
    vertical-align: middle;
  }

  .main-form-search input[type=submit]{
    width: 5%;
    padding: 10px 18px;
    border: none;
    background-color: #fff;
    background-image: url(../images/search-icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
  }

  .main-form-search input[type=submit]:hover{
    cursor: pointer;
  }
}

/*************************************************************************************************/
/***********************************  D  E  S  K  T  O  P **************************************  ************************************************************************************************/
/**********************************************************************************************/

@media (min-width: 960px){
  /****************** H E A D E R *******************/
.header-logo-container{
  margin-left: 2%;
}
  .logo{
    width: 300px;
    top: 10px;
  }

  .main-nav .avatar-container{
    width: 300px;
    margin-left: 5px;
    margin-right: 5%;
  }

  .main-nav .avatar-container .anfitrion-btn{
    display: inline-block;
    padding: 6px 15px;
    vertical-align: middle;
  }
  .main-nav .avatar-container i{
    display: inline-block;
    float: right;
    margin: 17px 0 0 5px;
    font-size: 1.2em;
    cursor: pointer;
  }
  .main-nav .avatar-container .welcome-user{
    display: block !important;
    float: right;
    /* margin: 10px; */
    padding: 7px 9px 0 0;
    cursor: pointer;
    /* border: solid 1px red; */
  }

  .main-nav .avatar-container .welcome-user:hover{
    color: #085174;
  }

  .main-nav .avatar-container .welcome-user h4{
    display: inline-block !important;
    font-weight: lighter;
    /* border: solid 1px green; */
  }

  .main-nav .avatar-container .welcome-user h4::first-letter{
    text-transform: uppercase;
  }

  .main-nav .avatar-container .avatar{
    width: 50px;
    height: 50px;
  }

  .nav-bar{
    width: 64%;
    margin: 12px 10px 15px 0;
    padding: 0;
    float: right;
  }

  .iniciar-btn{
    display: none !important;
  }

  .nav-bar a{
    font-size: .9em;
    padding: 8px 0 !important;
    width: 145px;
    letter-spacing: 2px;
    margin: 0 0 !important;
    border-top: solid 2px #fff;
  }

  .nav-bar a:hover{
    border-top: solid 2px #48a8c1;
  }

  #anfitrion{
    width: 220px !important;
    margin: 0  15px 0 0 !important;
    letter-spacing: 0.5px !important;
  }

  .faq-btn{
    width: 70px !important;
    margin: 0  10px !important;
    letter-spacing: 0.5px !important;
    /* border: solid 1px red; */
  }

  .popup-link{
    display: block !important;
    float: right;
    padding: 8px 16px;
    /* margin: 0  10px 0 0; */
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    text-transform: none !important;
    border-bottom: none;
  }


  .signin-popup a{
    display: block;
    text-align: center;
    margin: 5px auto;
    color: #48A8C1;
  }

  .anfitrion-btn:hover{
    /* border-top: inherit !important; */
    border: solid 1px #2EA03E !important;
    background: #fff !important;
    color: #2EA03E !important;
    transition: background .5s;
  }

  .modal-wrapper{
    display: block;
    position: absolute;
  }

  #popup-iniciar {
     visibility: hidden;
     opacity: 0;
     margin-top: -300px;
  }

  #popup-iniciar:target {
     visibility: visible;
     opacity: 1;
     top: 70px;
     right: 30px;
     margin: 0;
     z-index: 20;
     transition: all 0.8s;
     width: 300px;
  }

  .popup-contenedor {
     position: relative;
     left: 0;
     background-color: #fff;
     box-shadow: -2px 2px 25px #999;
     color:#333;
     border-radius: 3px;
     width: 100%;
    }

    .popup-contenedor .titulo-container{
      position: relative;
      display: block;
      text-align: center;
      background-color: #085174;
    }

    .popup-contenedor h2{
      color: #fff;
      font-size: 1.3em;
      padding: 20px 0;
      margin: 0;
    }
  .popup-cerrar {
     position: absolute;
     top: 5px;
     right: 5px;
     background-color: #fff;
     border: solid 1px #4B6EA9;
     border-radius: 50%;
     padding: 7px 10px;
     font-size: 12px;
     text-decoration: none;
     line-height: 1;
     color:#4B6EA9;
     font-weight: 600;
  }
  .popup-cerrar:hover{
    color: #fff;
    background-color: #4B6EA9;
    border: solid 1px #fff;
  }
  .signin-popup form .row{
    padding: 10px 30px 0;
  }

  .signin-popup .switch{
    text-align: center;
  }
  .signin-popup .recordarme span{
    font-size: 12px;
  }
  .signin-popup .pop-redes{
    padding: 0 30px 40px;
  }
}
